{% extends "base.html" %}
{%block content%}
<div class="forms" id="forms">
    {% if forms|length == 0 %}
    <div class="center">
        <h1>You have no form created!</h1>
        <h3>Press the button below to create yout first form!</h3>
        <div class="btn-prm" onclick="window.location.href=`{{ url_for('create_form')}}`">Create a form</div>
    </div>
    {% else %}
    <h2>Your forms:</h2>
    {% for form in forms %}
    <div class="list-parent" id="{{ form.title }}">
        <div class="list-item-rounded" onclick="window.location.href=`{{ url_for('individiual_form', guid = form._id) }}`">
            {{ form.title }}
        </div>
    </div>
    {% endfor %}
    <div class="btn-green w85"><span>Share a form</span></div>
    <div class="btn-snd w85"><span>Delete a form</span></div>
    {% endif %}
</div>
{%endblock%}