{% extends "base.html" %}
{% block title %} create form{% endblock %}
{%block content%}
<div class="wrapper-profile light-cyan">
    <div class="modal fade" id="questionModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="add-question">
                        <input type="text" id="_id" name="_id" value="" hidden>
                        <textarea placeholder="write down the question..." class="form-control question" name="question" id="question" rows="3"></textarea>
                        <select class="form-control my-3 qtype" name="qtype" id="qtype">
                            <option value="text" selected>text</option>
                            <option value="checkbox">checkbox</option>
                            <option value="radio">radio</option>
                            <!-- <option value="file">file upload</option> -->
                        </select>
                        <div class="scrollable-div answers" id="answers">
                        </div>
                    </form>
                    <div id="btn-ans" class="btn-ans" onclick="addNewAnswer()">Press here to add another answer</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-snd" data-dismiss="modal">Back</button>
                    <button type="button" class="btn-prm" onclick="addQuestion()" id="addq">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="favouriteQuestions" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="scrollable-div step2" id="favQuestions">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-snd" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
{% if 'current_form_id' in session %}
    <div class="form-group row">
        <label for="form-title" class="col-sm-2 col-form-label">Pick a title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="form-title" name="form-title" value="{{ session['form_title'] }}">
        </div>    
    </div>
    <div class="form-group row">
        <label for="form-desc" class="col-sm-2 col-form-label">Pick a desc</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="form-desc" name="form-desc">
        </div>    
    </div>
    <div class="add-questions" data-toggle="modal" data-target="#questionModal" onclick='resetModal()'>
        <div class="plus-icon">
            <i class="fas fa-plus"></i>
        </div>
        <h5 class="add-question_text">Add a question</h5>
    </div>
    <div class="scrollable-div step2" id="step2">
        <div class="questions" id="questions">
            
        </div>
    </div>
    <div class="bottom">
        <div class="question_buttons" id="question_buttons">
            <div class="btn-green" id="fav_questions" data-toggle="modal" data-target="#favouriteQuestions"  onclick='getFavs()'>Favourite questions</div>
            <div class="btn-prm" id="next_step">Next</div>
        </div>
    </div>
    {% else %}
    <div class="form-group row">
        <label for="form-title" class="col-sm-2 col-form-label">Pick a title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="form-title" name="form-title">
        </div>    
    </div>
    <div class="form-group row">
        <label for="form-desc" class="col-sm-2 col-form-label">Pick a desc</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="form-desc" name="form-desc">
        </div>    
    </div>
    <div class="buttons">
        <div class="btn-prm" onclick="submitForm()">Next</div>
    </div>
{% endif %}
</div>

{%endblock%}