{% extends "base.html" %}
{% block title %} home {% endblock %}
{%block content%}

<div class="wrapper-home">
  
  {% if session['logged_in'] %}
  <input type="button" class="btn1 btn-primary" value="Get Started with Formsio" onclick="window.location.href=`{{ url_for('forms_base')}}`"/>
  {% else %}
  <input type="button" class="btn1 btn-primary" value="Get Started with Formsio" onclick="window.location.href=`{{ url_for('signup_get')}}`"/>
  {% endif %}
  <div class="home-circle_big"></div>
  <div class="home-circle_small"></div>

  <div class="home-up">
  <h1>The World’s best survey engine
  that can be applied
  in any area of research</h1>
</div>


  <img class="hand" src="{{ url_for('static', filename='assets/hand.png')}}" alt="">

  <div class="home-down">
    <h1>Start your Survey</h1>
  </div>

</div>

{%endblock%}