{% extends "base.html" %}
{%block content%}
<div class="wrapper-profile">
    <img src="{{ url_for('static', filename=session['user'].user_icon)}}" alt="">

    <div class="container-profile">
      <p><strong>Name:</strong> {{ session['user'].name }}</p>
      <p><strong>E-mail:</strong> {{ session['user'].email }}</p>
      <p><strong>Phone Number:</strong>
        {% if  session['user'].phone is defined %}
        {{ session['user'].phone }}
        {% else %}
        <em>add your number</em>
        {% endif %}
      </p>
      <p><strong>Address:</strong> 
        {% if  session['user'].address is defined %}
        {{ session['user'].address }}
        {% else %}
        <em>add your address</em>
        {% endif %}</p>
      <p><strong>Team: </strong>
        <em>-</em></p>
    </div>

    <input type="create" class="btn btn-primary" value="Create a Team"/>

    <input type="join" class="btn btn-primary" value="Join a Team"/>
</div>
{%endblock%}