@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scrollbar-width: none;
    font-family: 'Roboto', sans-serif!important;
    font-family: 'Poppins', sans-serif!important;
}

/* NO SCROLLBAR YET FUNCTIONAL */
*::-webkit-scrollbar {
    display: none;
}


:root {
    --white: rgb(249, 249, 249);
    --pure-white: rgb(255, 255, 255);
    --light-grey: rgb(229, 229, 229);
    
    --cyan: rgb(90, 210, 218);
    --light-cyan: rgb(205, 241, 244);
    --dark-cyan: rgb(21, 97, 109);
    --grey: rgb(84, 84, 84);
    --black: rgb(11, 11, 11);
    --light-red: rgb(218, 98, 90);
    --green : rgb(90, 218, 126);
    
    --cyan-alpha: rgba(90, 210, 218, 0.75);
    --light-cyan-alpha: rgba(205, 241, 244, 0.75);
    --light-grey-alpha: rgba(229, 229, 229, 0.75);
    --dark-cyan-alpha: rgb(21, 97, 109,0.75);
    --alpha-black: rgba(11, 11, 11, 0.6);
    --light-red-alpha: rgba(218, 98, 90, 0.75);
    --green-alpha : rgba(90, 218, 126, 0.75);
    
    --full-size : calc(100vh - 60px);
    
}
.modal-content {
    border-radius: 25px;
    padding: .3rem;
}
.container-fluid{
    height: var(--full-size, -webkit-fill-available);
    overflow-y: scroll;
    overflow-x: hidden;
}

.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.loginCard .btn {
    background: var(--cyan) !important;
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 5vh auto 1vh auto;
    height: 8vh;
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
}

.light-cyan{
    background-color: var(--light-cyan);
}

form#login {
    display: flex;
    flex-direction: column;
}

.forgot-password {
    text-decoration: none!important;
}

.welcome {
    font-size: 8vw;
    padding-bottom: 4vh;
}

.loginCard input {
    margin: auto;
    width: 80vw;
}

.wrapper-profile {
    padding: 1rem 4rem 0 4rem;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-profile {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

.wrapper-profile img {
    border-radius: 25px;
    height: 30vh;
    width: 30vh;
}

.wrapper-profile h2 {
    align-self: center;
    margin: 10vh auto 10vh auto;
}
.wrapper-profile .btn {
    background: var(--cyan) !important;
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 1vh auto 1vh auto;
    width: 50vw;
    height: 8vh;
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
}

.wrapper-home {
    background: var(--cyan-alpha);
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-up {
    margin-left: 10vw;
    margin-right: 2.5vw;
    z-index: 10;
    padding-top: 10vh;
    text-align: right;
}

.home-up h1 {
    font-size: 4em;
    width: 60;
    text-align: right;
}

.home-down {
    margin-top: 60vh;
    margin-left: 10vw;
    margin-right: 2.5vw;
    z-index: 10;
    padding-top: 10vh;
    text-align: right;
}

.home-down h1 {
    font-size: 4em;
    width: 60;
    text-align: right;
}

.wrapper-home .btn1 {
    text-align: center;
    z-index: 10;
    background: var(--white) !important;
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 10vh auto 5vh auto;
    width: 50vw;
    height: 8vh;
    opacity: 0.6;
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
}

.wrapper-home .btn2 {
    text-align: center;
    z-index: 10;
    background: var(--white) !important;
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 20vh auto 5vh auto;
    width: 50vw;
    height: 8vh;
    opacity: 0.6;
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
}

.home-circle_big {
    position: absolute;
    top: 40vh;
    left: -15vw;
    border-radius: 50%;
    width: 25em;
    height: 25em;
    background: var(--cyan);
    border: 0px solid var(--black);
}

.home-circle_small {
    position: absolute;
    top: 80vh;
    right: -5vw;
    border-radius: 50%;
    width: 15em;
    height: 15em;
    background: var(--cyan);
    border: 0px solid var(--black);
}

.hand {
    position: absolute;
    top: 100vh;
    left: 0vw;
    height: 80vh;
    width: auto;
    position: absolute;
}

/* d-aici in jos sa te uiti*/

.neon {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--white);
    -webkit-animation: text-glow 1s ease-in-out infinite alternate;
    -moz-animation: text-glow 1s ease-in-out infinite alternate;
    animation: text-glow 1s ease-in-out infinite alternate;
}

.wrapper-neon {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 50px);
}

.button-neon {
    background: var(--cyan) !important;
    color: var(--alpha-black);
    border: none;
    border-radius: 25px;
    margin: 5vh auto 1vh auto;
    width: 50vw;
    height: 8vh;
    box-shadow: 0 0 20px var(--cyan-alpha);
    transition: all 0.2s ease-in-out;
}
.button-neon:hover {
    color: var(--black);
    box-shadow: 0 0 50px var(--cyan-alpha);
}

@-webkit-keyframes text-glow {
    from {
        text-shadow: 0 0 10px var(--white), 0 0 20px var(--white),
            0 0 30px var(--cyan-alpha), 0 0 40px var(--cyan-alpha),
            0 0 50px var(--cyan-alpha), 0 0 60px var(--cyan-alpha),
            0 0 70px var(--cyan-alpha);
    }
    to {
        text-shadow: 0 0 20px var(--white), 0 0 30px var(--cyan),
            0 0 40px var(--cyan), 0 0 50px var(--cyan),
            0 0 60px var(--cyan), 0 0 70px var(--cyan),
            0 0 80px var(--cyan);
    }
}

#redirect-error{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: none;
}

.btn-prm, .btn-snd, .btn-ans, .btn-green{
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 1vh auto 1vh auto;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
}

.btn-prm{
    background: var(--cyan) !important;
}
.modal-footer .btn-snd, .btn-snd{
    background: var(--light-red) !important;
}
.btn-green{
    background: var(--green) !important;
}
.btn-prm:hover{
    background: var(--cyan-alpha) !important;
}
.btn-snd:hover{
    background: var(--light-red-alpha) !important;
}
.btn-green:hover{
    background: var(--green-alpha) !important;
}
.btn-ans{
    align-items: center!important;
    display: flex;
    justify-content: center;
    /* width: var(--full-size, -webkit-fill-available); */
    background: var(--pure-white) !important;
    border: 3px solid var(--light-grey-alpha);

}
.btn-ans:hover{
    background: var(--white) !important;
    border: 3px solid var(--light-grey-alpha);

}

.buttons {
    padding: 0 4rem;
}
textarea {
    resize: none;
  }

.qtype, .question:focus{
    border-radius: 25px;
    background-color: var(--light-grey);
}
.question, .question:focus{
    border-radius: 25px!important;
    background-color: var(--cyan);
}

#share img{
    height: 44px;
    width: auto;
}


.ind-ans{
    border: 2px solid var(--light-grey);
    border-radius: 25px;
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
}
.ind-ans #answer{
    width: 100%;
    border: none;
    outline: none;
}
.answer-input{
    border: none;
    border-radius: inherit;
}

.btn-pill{
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 12px;
}

.pill-cyan{
    display: none;
    background-color: var(--cyan);
}
.pill-grey{
    background-color: var(--grey);
}
.pill-del{
    background-color: var(--light-red);
    text-align: center;
}

.scrollable-div{
    overflow: scroll;
    height: 25vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-pill{
    background-color: var(--pure-white);
    display: flex;
    justify-self: center;
    justify-content: center;
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
}

#fav, #not-fav{
    width: 16px;
    height: 16px;
}

div:is(.btn-snd, .btn-prm, .btn-green){
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.trash{
    color: var(--grey);
}
.trash:hover{
    color: var(--light-red);
}

.custom-shape-divider-bottom-1616019804 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1616019804 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 104px;
}

.custom-shape-divider-bottom-1616019804 .shape-fill {
    fill: var(--cyan);
}

#form-title, #form-desc{
    background-color: var(--light-cyan);
    border: none;
    border-bottom: 1px solid var(--black);
    border-radius: 0px;
}

#form-title:hover, #form-title:focus{
    border-bottom: 2px solid var(--grey);
}

.center{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup_label {
    display: none;
    justify-content: end;
    padding-left: 0.5rem;
}
.form-control{
    border-radius: 10px;
}
.form-control:focus{
    outline: none!important;
    box-shadow: none!important;
    border-width: 2px;
    border-color: var(--cyan);
}
.wrong-input, .wrong-input:focus{
    border-color: var(--light-red);
    border-width: 2px;
}
.correct-input, .correct-input:focus{
    border-color: var(--green);
    border-width: 2px;
}
.teams-container {
    padding: 1rem 0;
    background-color: var(--light-cyan);
    height: 100%;
}
.team-home {
    height: var(--full-size, -webkit-fill-available);
    display: flex;
    gap: 4rem;
    padding: 0 4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--light-cyan);
}

.teams {
    height: 78vh;
    margin: 0 4rem 1rem 4rem;
    padding: 0.5rem 0;
    gap: 0.5rem;
    border: none;
    border-radius: 25px;
    background-color: var(--pure-white);
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
}

.form-check {
    width: 95%;
    height: 3rem;
    border: none;
    border-radius: 25px;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-cyan);
}
.radio-check {
    display: none;
}

img.teamwork {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    width: auto;
    height: 36%;
}
.team-active {
    background-color: var(--dark-cyan);
    color: var(--pure-white);
}

form .buttons {
    padding: 0 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
 /*question step1*/
.alerts-border {
    border-bottom: 2px solid var(--light-red)!important;
    
    animation-name: shake;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-iteration-count: 1;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  /* forms list */
.forms{
    height: 100%;
    background-color: var(--light-cyan);
    padding: 2rem 0;
}
.forms-list{
    height: 72vh;
    margin: 0 4rem 1rem 4rem;
    padding: 0.5rem 2rem;
    gap: 0.5rem;
    border: none;
    border-radius: 25px;
    background-color: var(--pure-white);
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
    align-items: end;
}
.forms-buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.list-item-rounded{
    width: 100%;
    margin: 0.5vh;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: var(--cyan);
    display: grid;
    grid-template-columns: 10% auto 10%;
    gap: .5rem;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
}
.list-item-rounded:hover{
    background-color: var(--cyan-alpha);
}
.no-forms_button{
    margin-top: 10rem;
    width: 100%;
}
  /*question step2*/
.step2 {
    height: 63vh;
    margin-bottom: 1rem;
    padding: 2rem;
    gap: 0.5rem;
    border: none;
    border-radius: 25px;
    background-color: var(--pure-white);
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
    align-items: end;
}
.question_buttons{
    display: flex;
    gap: 3rem;
}

.add-questions {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 2.5% auto;
    gap: 1rem;
}
.questions {
    width: 100%;
}
.question-entry {
    width: 100%;
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: 25px;
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 20%);
    background: var(--cyan);
}
.question-entry:hover{
    background: var(--cyan-alpha);
}
.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.question-atributes{
    display: flex;
    flex-direction: column;
}
.questions-answers_entry {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2.5% auto;
    margin-bottom: .5rem;
    padding-left: 1rem;
    font-size: .9rem;
    align-items: center;
}
.question-entry_data {
    display: grid;
    grid-template-columns: 5% auto 5%;
    gap: 1rem;
    align-items: center;
}
.trailing {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: .3rem;
    width: 100%;
}
.select-trailing{
    border: none;
    border-radius: 10px;
}
/* congrats create form */
.share {
    display: flex;
    gap: 5rem;
}
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 23vh;
}
.congrats {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    text-align: center;
    gap: 1rem;
}
.main-content{
    background-color: var(--cyan);
    height: 48vh;
}
.title {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alternative {
    display: flex;
    gap: 1rem;
}
@media (min-width: 769px){
    .modal-footer{
        justify-content: center;
        flex-direction: row;
        flex-wrap: unset;
        gap: 1rem;
    }
}
/* pana aici ^^^ */
@media (max-width: 768px) {
    .questions-answers_entry{
        padding: 0;
    }
    .wrapper-profile {
        margin: auto;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem 1.5rem 0 1.5rem;
    }

    .container-profile {
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
    }

    .wrapper-profile img {
        border-radius: 25px;
        height: 30vh;
        width: 30vh;
    }

    .wrapper-profile .btn {
        border: none;
        border-radius: 25px;
        margin: 1vh auto 1vh auto;
        width: 100%;
        height: 8vh;
    }

    .wrapper-home {
        min-height: 200vh;
        display: flex;
        flex-direction: column;
    }

    .home-up {
        margin-left: 10vw;
        margin-right: 2.5vw;
        z-index: 10;
        padding-top: 10vh;
        text-align: right;
    }

    .home-up h1 {
        font-size: 8vw;
        width: 60;
        text-align: right;
    }

    .home-down {
        margin-top: 70vh;
        margin-left: 10vw;
        margin-right: 2.5vw;
        z-index: 10;
        padding-top: 10vh;
        text-align: right;
    }

    .home-down h1 {
        font-size: 8vw;
        width: 60;
        text-align: right;
    }

    .wrapper-home .btn1 {
        text-align: center;
        z-index: 10;
        border: none;
        border-radius: 25px;
        margin: 10vh auto 5vh auto;
        width: 50vw;
        height: 8vh;
        opacity: 0.6;
    }

    .wrapper-home .btn2 {
        text-align: center;
        z-index: 10;
        border: none;
        border-radius: 25px;
        margin: 20vh auto 5vh auto;
        width: 50vw;
        height: 8vh;
        opacity: 0.6;
    }

    .home-circle_big {
        position: absolute;
        top: 40vh;
        left: -20vw;
        border-radius: 50%;
        width: 18em;
        height: 18em;
    }

    .home-circle_small {
        position: absolute;
        top: 80vh;
        right: -10vw;
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }

    .hand {
        position: absolute;
        top: 90vh;
        left: 0vw;
        height: 50vh;
        width: auto;
        position: absolute;
    }

    .team-home{
        flex-direction: column;
    }

    img.teamwork {
        right: 1rem;
        left: auto;
        bottom: 3rem;
        height: 33%;
    }
}
@media (max-width: 426px) {
    .question-entry_data {
        grid-template-columns: 5% auto 10%;
    }
    .wrapper-home .btn1{
        font-size: 14px;
    }

    .home-circle_big{
        top: 30vh;
        left: -40vw;
    }

    .home-circle_small{
        right: -20vw;
    }
    .teams {
        margin: 0 2rem 1rem 2rem;
    }
    .buttons {
        padding: 0 2rem;
    }
    img.teamwork {
        left: auto;
        right: 1rem;
        bottom: 1rem;
        height: 28%;
    }
    .step2 {
        height: 53vh;
        margin-bottom: 1rem;
        padding: 1rem;
        gap: 0.5rem;
    }
}