* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* NO SCROLLBAR YET FUNCTIONAL */
::-webkit-scrollbar {
    display: none;
}

html{
    overflow-x: hidden;
}

:root {
    --white: rgb(249, 249, 249);
    --pure-white: rgb(255, 255, 255);
    --light-grey: rgb(229, 229, 229);
    
    --cyan: rgb(90, 210, 218);
    --grey: rgb(84, 84, 84);
    --black: rgb(11, 11, 11);
    --light-red: rgb(218, 98, 90);
    --green : rgb(90, 218, 126);

    --cyan-alpha: rgba(90, 210, 218, 0.75);
    --light-grey-alpha: rgba(229, 229, 229, 0.75);
    --alpha-black: rgba(11, 11, 11, 0.6);
    --light-red-alpha: rgba(218, 98, 90, 0.75);
    --green-alpha : rgba(90, 218, 126, 0.75);
}

.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.loginCard .btn {
    background: var(--cyan) !important;
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 5vh auto 1vh auto;
    width: 50vw;
    height: 8vh;
}

.forgot-password {
    text-decoration: none;
}

.welcome {
    font-size: 8vw;
    padding-bottom: 10vh;
}

.loginCard input {
    margin: auto;
    width: 80vw;
}

.wrapper-profile {
    width: 90vw;
    margin: auto;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-profile {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

.wrapper-profile img {
    border-radius: 25px;
    height: 30vh;
    width: 30vh;
}

.wrapper-profile h2 {
    align-self: center;
    margin: 10vh auto 10vh auto;
}
.wrapper-profile .btn {
    background: var(--cyan) !important;
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 1vh auto 1vh auto;
    width: 50vw;
    height: 8vh;
    font-weight: bold;
}

.wrapper-home {
    background: var(--cyan-alpha);
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}

.home-up {
    margin-left: 10vw;
    margin-right: 2.5vw;
    z-index: 10;
    padding-top: 10vh;
    text-align: right;
}

.home-up h1 {
    font-size: 4em;
    width: 60;
    text-align: right;
}

.home-down {
    margin-top: 60vh;
    margin-left: 10vw;
    margin-right: 2.5vw;
    z-index: 10;
    padding-top: 10vh;
    text-align: right;
}

.home-down h1 {
    font-size: 4em;
    width: 60;
    text-align: right;
}

.wrapper-home .btn1 {
    text-align: center;
    z-index: 10;
    background: var(--white) !important;
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 10vh auto 5vh auto;
    width: 50vw;
    height: 8vh;
    opacity: 0.6;
}

.wrapper-home .btn2 {
    text-align: center;
    z-index: 10;
    background: var(--white) !important;
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 20vh auto 5vh auto;
    width: 50vw;
    height: 8vh;
    opacity: 0.6;
}

.home-circle_big {
    position: absolute;
    top: 40vh;
    left: -10vw;
    border-radius: 50%;
    width: 25em;
    height: 25em;
    background: var(--cyan);
    border: 0px solid var(--black);
}

.home-circle_small {
    position: absolute;
    top: 80vh;
    right: -5vw;
    border-radius: 50%;
    width: 15em;
    height: 15em;
    background: var(--cyan);
    border: 0px solid var(--black);
}

.hand {
    position: absolute;
    top: 100vh;
    left: 0vw;
    height: 80vh;
    width: auto;
    position: absolute;
}

/* d-aici in jos sa te uiti*/

.neon {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--white);
    -webkit-animation: text-glow 1s ease-in-out infinite alternate;
    -moz-animation: text-glow 1s ease-in-out infinite alternate;
    animation: text-glow 1s ease-in-out infinite alternate;
}

.wrapper-neon {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 50px);
}

.button-neon {
    background: var(--cyan) !important;
    color: var(--alpha-black);
    border: none;
    border-radius: 25px;
    margin: 5vh auto 1vh auto;
    width: 50vw;
    height: 8vh;
    box-shadow: 0 0 20px var(--cyan-alpha);
    transition: all 0.2s ease-in-out;
}
.button-neon:hover {
    color: var(--black);
    box-shadow: 0 0 50px var(--cyan-alpha);
}

@-webkit-keyframes text-glow {
    from {
        text-shadow: 0 0 10px var(--white), 0 0 20px var(--white),
            0 0 30px var(--cyan-alpha), 0 0 40px var(--cyan-alpha),
            0 0 50px var(--cyan-alpha), 0 0 60px var(--cyan-alpha),
            0 0 70px var(--cyan-alpha);
    }
    to {
        text-shadow: 0 0 20px var(--white), 0 0 30px var(--cyan),
            0 0 40px var(--cyan), 0 0 50px var(--cyan),
            0 0 60px var(--cyan), 0 0 70px var(--cyan),
            0 0 80px var(--cyan);
    }
}

#redirect-error{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: none;
}

.btn-prm, .btn-snd, .btn-ans, .btn-green{
    color: var(--black);
    border: none;
    border-radius: 25px;
    margin: 1vh auto 1vh auto;
    width: 50vw;
    height: 8vh;
    font-weight: bold;
}

.btn-prm{
    background: var(--cyan) !important;
}
.btn-prm:hover{
    background: var(--cyan-alpha) !important;
}
.btn-snd{
    background: var(--light-red) !important;
}
.btn-snd:hover{
    background: var(--light-red-alpha) !important;
}
.btn-green{
    background: var(--green) !important;
}
.btn-green:hover{
    background: var(--green-alpha) !important;
}
.btn-ans{
    align-items: center!important;
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    background: var(--pure-white) !important;
    border: 3px solid var(--light-grey-alpha);

}
.btn-ans:hover{
    background: var(--white) !important;
    border: 3px solid var(--light-grey-alpha);

}

textarea {
    resize: none;
  }

.qtype, .question:focus{
    border-radius: 25px;
    background-color: var(--light-grey);
}
.question, .question:focus{
    border-radius: 25px;
    background-color: var(--cyan);
}

#share img{
    height: 44px;
    width: auto;
}


.ind-ans{
    border: 2px solid var(--light-grey);
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.answer-input{
    border: none;
    border-radius: inherit;
}

.btn-pill{
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 12px;
}

.pill-cyan{
    display: none;
    background-color: var(--cyan);
}
.pill-grey{
    background-color: var(--grey);
}
.pill-del{
    background-color: var(--light-red);
    font-weight: bolder;
    text-align: center;
}

.scrollable-div{
    overflow: scroll;
    height: 25vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-pill-cyan{
    background-color: var(--cyan);
    text-align: center;
}

#fav, #not-fav{
    width: 16px;
    height: 16px;
}

div:is(.btn-snd, .btn-prm, .btn-green){
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.trash{
    color: var(--grey);
}
.trash:hover{
    color: var(--light-red);
}

.custom-shape-divider-bottom-1616019804 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1616019804 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 102px;
}

.custom-shape-divider-bottom-1616019804 .shape-fill {
    fill: var(--cyan);
}

.main-content{
    background-color: var(--cyan);
}

#form-title{
    border: none;
    border-bottom: 1px solid var(--black);
    border-radius: 0px;
}

#form-title:hover, #form-title:focus{
    border-bottom: 2px solid var(--grey);
}

.list-item-rounded{
    width: 85vw;
    margin: 0.5vh;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: var(--cyan);
    display: flex;
    justify-content: center;
    height: 8vh;
    align-items: center;
    font-weight: bolder;
}
.list-item-rounded:hover{
    background-color: var(--cyan-alpha);
}
.list-parent{
    display: flex;
    justify-content: center;
}

.center{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* pana aici ^^^ */
@media (max-width: 1024px) {
    .wrapper-profile {
        width: 90vw;
        margin: auto;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container-profile {
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
    }

    .wrapper-profile img {
        border-radius: 25px;
        height: 30vh;
        width: 30vh;
    }

    .wrapper-profile .btn {
        background: var(--cyan) !important;
        color: var(--black);
        border: none;
        border-radius: 25px;
        margin: 1vh auto 1vh auto;
        width: 50vw;
        height: 8vh;
    }

    .wrapper-home {
        background: var(--cyan-alpha);
        min-height: 200vh;
        display: flex;
        flex-direction: column;
    }

    .home-up {
        margin-left: 10vw;
        margin-right: 2.5vw;
        z-index: 10;
        padding-top: 10vh;
        text-align: right;
    }

    .home-up h1 {
        font-size: 8vw;
        width: 60;
        text-align: right;
    }

    .home-down {
        margin-top: 60vh;
        margin-left: 10vw;
        margin-right: 2.5vw;
        z-index: 10;
        padding-top: 10vh;
        text-align: right;
    }

    .home-down h1 {
        font-size: 8vw;
        width: 60;
        text-align: right;
    }

    .wrapper-home .btn1 {
        text-align: center;
        z-index: 10;
        background: var(--white) !important;
        color: var(--black);
        border: none;
        border-radius: 25px;
        margin: 10vh auto 5vh auto;
        width: 50vw;
        height: 8vh;
        opacity: 0.6;
    }

    .wrapper-home .btn2 {
        text-align: center;
        z-index: 10;
        background: var(--white) !important;
        color: var(--black);
        border: none;
        border-radius: 25px;
        margin: 20vh auto 5vh auto;
        width: 50vw;
        height: 8vh;
        opacity: 0.6;
    }

    .home-circle_big {
        position: absolute;
        top: 40vh;
        left: -30vw;
        border-radius: 50%;
        width: 18em;
        height: 18em;
        background: var(--cyan);
        border: 0px solid var(--black);
    }

    .home-circle_small {
        position: absolute;
        top: 80vh;
        right: -10vw;
        border-radius: 50%;
        width: 10em;
        height: 10em;
        background: var(--cyan);
        border: 0px solid var(--black);
    }

    .hand {
        position: absolute;
        top: 90vh;
        left: 0vw;
        height: 50vh;
        width: auto;
        position: absolute;
    }
}
